{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">About Us
				<small></small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">About</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Intro Content 750 450 -->
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="static/img/about_us_yuan.png" alt="">
		</div>
		<div class="col-md-6">
			<h2>About Us (Our People) </h2>
			<p>
			Yvonne is President and Founder of Residential Elite Group. She comes from an extensive investment analysis background, having held progressive roles in that same capacity for a Canadian bank and several institutional asset managers and pension plans on Bay Street. She is involved in all phases of the firm’s development and leads the RE Investment Management and Commercial Connect arms of the practice.</p>
			Yvonne started her Real Estate career in London, ON having been the owner-operator of a multi-unit student rental property. Upon moving to Toronto, she is recognized as a familiar face within the Waterfront and King West downtown communities and has single-handedly negotiated 200 lease and sale transactions on behalf of buyers, sellers, landlords, tenants, and investors. </p>
			Yvonne hold an Honours Bachelor of Business Administration from Ivey and has been licensed as a Broker with the Real Estate Council of Ontario since 2015. In her spare time, Yvonne is an avid member of the community. She currently sits as President on the boards of several Toronto Standard Condominium Corporations and is an active consultant to both Public and Privately Held Real Estate Trusts. Her network encompasses a diverse mix of developers, builders, property
			managers, leading broker peers, real estate lawyers, mortgage agents, financing professionals, overseas investors and contractors. Yvonne speaks French and Mandarin Chinese fluently in additional to her native tongue, English.
			</p>
		</div>
	</div>
	<!-- /.row -->

	<!-- Team Members -->
	<!--
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Our Team</h2>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
				<div class="caption">
					<h3>John Smith<br>
						<small>Job Title</small>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
				<div class="caption">
					<h3>John Smith<br>
						<small>Job Title</small>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
				<div class="caption">
					<h3>John Smith<br>
						<small>Job Title</small>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
				<div class="caption">
					<h3>John Smith<br>
						<small>Job Title</small>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
				<div class="caption">
					<h3>John Smith<br>
						<small>Job Title</small>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/750x450" alt="">
				<div class="caption">
					<h3>John Smith<br>
						<small>Job Title</small>
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	--> 
	<!-- /.row -->

	<!-- Our Customers -->
	<!--
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Our Customers</h2>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
		</div>
		<br>
		<br>
	</div>
	-->	
	<!-- /.row -->

	<!-- Footer -->

	{% endblock %}
