{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Interior Design
				<small></small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Interior Design</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Project One -->
	<div class="row">
		<div class="col-md-7">
				<img class="img-responsive " src="/static/img/interior_design.jpg" alt="">
		</div>
		<div class="col-md-5">

			<h3>Interior Design </h3>
			<br>
			<ul>	
				<font size = "4" >

					<li>Renovations & repair</li>
					<li>Installation of blinds and window coverings</li>
					<li>Home staging</li>
					<li>Furniture selection</li>
					<li>Room makeover</li>
					<li>Paint</li>
					<li>Cleaning & housekeeping</li>
					<li>Full consultation at any budget</li>
					<li>100% satisfaction guaranteed</li>

				</font>
			</ul>

			<br>

		</div>
	</div>
	<!-- /.row -->


	<!-- /.row -->




	{% endblock %}
