{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Property Management
				<small></small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Property Management</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Project One -->
	<div class="row">
		<div class="col-md-7">
				<img class="img-responsive " src="/static/img/property_management.jpg" alt="">
		</div>
		<div class="col-md-5">

			<h3>Property Management</h3>
			<br>
			<ul>	
				<font size = "4" >
					<li> Tenant screening & selection</li>
					<li> Property marketing (print, datbase, online)</li>
					<li> Rental income tax documents preparation</li>
					<li> Inspections</li>
					<li> Budget preparation</li>
					<li> Condominium corporations clients</li>
					<li> Repairs & Maintenance & Housekeeping </li>
				</font>
			</ul>

			<br>

		</div>
	</div>
	<!-- /.row -->


	<!-- /.row -->




	{% endblock %}
