<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}

<div class="container" style="padding-top: 200px;">
	<html lang="en-US">
		<head>
			<meta charset="UTF-8">
			<title>Page Redirection</title>
			<body>
				<h1> Thank you for visiting, our website is current under construction. <br>
					Come back soon!
				</h1>
			</body>
		</head>
    <header class="intro-header" style="background-image: url('/static/img/ServiceBrokerage.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>





		<body>
			<!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->

			<br>	
			<br>	
			<br>	
			<br>	


		</body>
	</html>

	{% endblock %}
